{% extends 'base.html' %}

{% block title %}
    User Detail
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <p class="text-muted">{{ user.email }}</p>
        <p class="mb-4">Position: {{ user.position }}</p>
        <div class="img-responsive text-center">
            <img src="/users/media/{{ user.image }}" alt="profile-user" class="rounded-circle" width="300" height="300" />
        </div>

        <div class="btn-group p-4">
            <a href="{% url 'users:delete' user.id %}" class="btn btn-md btn-danger m-2">Delete</a>
            <a href="{% url 'users:edit' user.id %}" class="btn btn-md btn-info m-2">Edit</a>
            <a href="{% url 'users:index' %}" class="btn btn-md btn-success m-2">Return</a>
        </div>
    </div>
{% endblock %}