{% extends 'base.html' %}

{% block title %}
    User List
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Profiler App</h1>

    <form class="mb-2" action="{% url 'users:search' %}" method="get">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search" required>
            <div class="input-group-append">
                <button class="btn btn-info">Search</button>
            </div>
        </div>
    </form>

    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p class="alert alert-success">{{ success }}</p>
    {% endif %}

    {% if users %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Profile Image</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Adress</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="text-center"><a href="{% url 'users:detail' user.id %}"><img class="rounded-circle" src="media/{{ user.image }}" width="50" height="50" alt="User Image" /></a></td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <ul class="pagination">
                {% if users.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {% if users.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ users.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ users.paginator.num_pages }}">Last &raquo</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <p class="text-center">No record found.</p>
    {% endif %}
{% endblock %}